@font-face{
  font-family: Rubik;
  src: url(./Rubik/Rubik-VariableFont_wght.ttf);
}

@font-face{
  font-family: Rubik;
  src: url(./Rubik/static/Rubik-SemiBold.ttf);
  font-weight: bold;
}

body{
  font-family: Rubik;
  background-color: #333333;
  margin: 0%;
}

.container{
  display: grid;
}

.resume{
  max-width: 50rem;
  margin: 2rem auto;
  padding: 3rem 5rem;
  background-color: #DDDDDD;
}

header{
  text-align: center;
}

h2{
  color: #4BB871;
}

em{
  color: dimgray;
}

a:link{
  color: rgb(74, 89, 95);
}

a:visited{
  color: rgb(167, 167, 167);
}

.skills{
  display: grid;
}